.booking-modal-main-div{
    display: flex;
    flex-direction: column;
}

.booking-modal-top{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.booking-modal-heading{
    flex: 50%;
}

.booking-modal-right{
    flex: 50%;
    text-align: right;
    /* display: flex; */
    /* flex-direction: row; */
}

.modal-save{
    margin-right: 100px;
}

.booking-modal-tab-select{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.booking-modal-heading{
    font-weight: bold;
}

.booking-modal-content{
    margin-top: 30px;
    border-top: solid;
}

.react-datepicker-popper {
    z-index: 9999 !important;
}