.booking-status-content{
    display: flex;
    flex-direction: column;
}

.booking-status-header{
    margin-top: 10px;
}

.booking-status-item{
    margin-top: 10px;
}

.booking-status-div{
    border-top: 1px solid;
}